.spinner {
    height: 18px;
}

.reportIndicatorCol {
    padding-left: 8px;
    padding-right: 8px;
}

.reportDimensionCol {
    /*padding-left: 10px;
    padding-right: px;*/
}

.reportRow {
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 29px;
}

.runHeader {
    text-align: left;
}

.close {
    float:right;
    display:inline-block;
    margin-top: -5px;
    cursor: pointer;
}
